build/
build*/
install/
out/
Debug/
Release/
MinSizRel/
RelWithDebInfo/
Deployment/
Development/

compile_commands.json
.cache/

# IDE files
*.user
.vscode/

# python files
*.egg-info/
__pycache__/
*.so
*.pyd
.pytest_cache/
.cache/
